.color-white{color:#fff;}
.color-black{color:#000;}

.color-goto-green{color:#7F8429;}
.color-goto-orange{color:#ffa500;}
.color-goto-grey{color:#333333;}

.color-goto-green-light{color:#008363;}
.color-goto-light{color:#adadad;}

/* background colors */
.bg-goto-green{background:#7F8429;}
.bg-goto-orange{background:#ffa500;}
.bg-goto-gray{background:#333333;}
.bg-goto-pink {background: #f00a77;}

.bg-goto-gray-1{background:#f1f1f1;}
.bg-goto-gray-2{background:#525252;}

/* headings */
.text-8{font-size: 8px;}
.text-10{font-size: 10px;}
.text-12{font-size: 12px;}
.text-16{font-size: 16px;}
.text-14{font-size: 14px;}
.text-15{font-size: 15px;}
.text-18{font-size: 18px;}
.text-20{font-size: 20px;}
.text-23{font-size: 23px;}
.text-25{font-size: 25px;}
.text-30{font-size: 30px;}
.text-36{font-size: 36px;}
.text-50{font-size: 50px;}
.text-72{font-size:72px;}

/*PADDING*/
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}

/* PADDING BOTTOM */
.no-padding{padding: 0;}
.padding-bottom-5{padding-bottom:5px;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-50{padding-bottom:50px;}
.padding-bottom-60{padding-bottom:60px;}
.padding-bottom-70{padding-bottom:70px;}
.padding-bottom-100{padding-bottom:100px;}
.padding-bottom-150{padding-bottom:150px;}
.padding-bottom-200{padding-bottom:200px;}
.padding-bottom-250{padding-bottom:250px;}
.padding-bottom-270{padding-bottom:270px;}

/* PADDING TOP */
.padding-top-0{padding-top:0}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-30{padding-top:30px;}
.padding-top-40{padding-top:40px;}
.padding-top-50{padding-top:50px;}
.padding-top-60{padding-top:60px;}
.padding-top-70{padding-top:70px;}
.padding-top-100{padding-top:100px;}
.padding-top-150{padding-top:150px;}
.padding-top-200{padding-top:200px;}
.padding-top-250{padding-top:250px;}
.padding-top-270{padding-top:270px;}
.padding-top-300{padding-top:300px;}

/* MARGIN BOTTOM */
.no-margin{margin: 0}
.margin-bottom-0{margin-bottom:0;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-50{margin-bottom:50px;}
.margin-bottom-60{margin-bottom:60px;}
.margin-bottom-70{margin-bottom:70px;}
.margin-bottom-100{margin-bottom:100px;}
.margin-bottom-150{margin-bottom:150px;}
.margin-bottom-120{margin-bottom:150px;}
.margin-bottom-200{margin-bottom:200px;}
.margin-bottom-250{margin-bottom:250px;}
.margin-bottom-270{margin-bottom:270px;}

/* MARGIN TOP */
.margin-top-0{margin-top:0;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-22{margin-top:22px;}
.margin-top-25{margin-top:25px;}
.margin-top-27{margin-top:27px;}
.margin-top-30{margin-top:30px;}
.margin-top-40{margin-top:40px;}
.margin-top-50{margin-top:50px;}
.margin-top-60{margin-top:60px;}
.margin-top-70{margin-top:70px;}
.margin-top-100{margin-top:100px;}
.margin-top-120{margin-top:100px;}
.margin-top-150{margin-top:150px;}
.margin-top-200{margin-top:200px;}
.margin-top-250{margin-top:250px;}
.margin-top-270{margin-top:270px;}

.spacer-10{
  margin: 10px 0;
}

.padding-left-0{padding-left:0;}
.padding-left-20{margin-left: 20px;}

.padding-right-0{padding-right:0;}
.padding-rl-100{padding-left:100px;padding-right:100px;}

.margin-left-0{margin-left: 0;}
.margin-right-0{margin-right: 0;}

.position-relative{
  position: relative;
}
//lin he
.line-height-0{
  line-height: 0;
}
.line-height-30{
  line-height: 30px;
}

.light {
  font-weight: 400;
}

// SLIDER
/*! http://responsiveslides.com v1.54 by @viljamis */
.slider{
  position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides ul{
  width: 100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
//HEADER
.header{
  position: absolute;
  top: 0;
  z-index: 3;
  width:100%;
}

//NAV

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #ffa500;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #222222;
}


.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger, .header-phone {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger .text-menu{
  font-size: 11px;
  margin-top: 13px;
  position: absolute;
  left: 0;
}
.header-phone{
  //font-size: 30px;
  background: #ffa500;
  margin-left: 60px;
  width: 240px;
  height: auto !important;
  font-weight: bold;
  top:20px;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}

.position-day{
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
}