a:focus{
  outline: 0;
}
.color-white{color:#fff;}
.color-black{color:#000;}
.color-grey{color: #636b6f}

.color-goto-green{color:#7F8429;}
.color-goto-orange{color:#ffa500;}
.color-goto-grey{color:#333333;}
.color-goto-pink{color:#f00a77;}

.color-goto-green-light{color:#008363;}
.color-goto-light{color:#adadad;}

/* background colors */
.bg-goto-green{background:#7F8429;}
.bg-goto-orange{background:#ffa500;}
.bg-goto-gray{background:#333333;}
.bg-goto-pink {background: #f00a77;}
.bg-goto-blue-light{background: #f8f8f8;}

.bg-goto-gray-1{background:#f1f1f1;}
.bg-goto-gray-2{background:#525252;}

/* headings */
.text-8{font-size: 8px;}
.text-9{font-size: 9px;}
.text-10{font-size: 10px;}
.text-12{font-size: 12px;}
.text-16{font-size: 16px;}
.text-14{font-size: 14px;}
.text-15{font-size: 15px;}
.text-18{font-size: 18px;}
.text-19{font-size: 19px;}
.text-20{font-size: 20px;}
.text-23{font-size: 23px;}
.text-25{font-size: 25px;}
.text-27{font-size: 27px;}
.text-30{font-size: 30px;}
.text-33{font-size: 33px;}
.text-36{font-size: 36px;}
.text-50{font-size: 50px;}
.text-72{font-size:72px;}

/*PADDING*/
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}

/* PADDING BOTTOM */
.no-padding{padding: 0;}
.padding-bottom-5{padding-bottom:5px;}
.padding-bottom-10{padding-bottom:10px;}
.padding-bottom-15{padding-bottom:15px;}
.padding-bottom-20{padding-bottom:20px;}
.padding-bottom-30{padding-bottom:30px;}
.padding-bottom-40{padding-bottom:40px;}
.padding-bottom-50{padding-bottom:50px;}
.padding-bottom-60{padding-bottom:60px;}
.padding-bottom-70{padding-bottom:70px;}
.padding-bottom-100{padding-bottom:100px;}
.padding-bottom-150{padding-bottom:150px;}
.padding-bottom-200{padding-bottom:200px;}
.padding-bottom-250{padding-bottom:250px;}
.padding-bottom-270{padding-bottom:270px;}

/* PADDING TOP */
.padding-top-0{padding-top:0}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.padding-top-15{padding-top:15px;}
.padding-top-20{padding-top:20px;}
.padding-top-30{padding-top:30px;}
.padding-top-40{padding-top:40px;}
.padding-top-50{padding-top:50px;}
.padding-top-60{padding-top:60px;}
.padding-top-70{padding-top:70px;}
.padding-top-100{padding-top:100px;}
.padding-top-150{padding-top:150px;}
.padding-top-200{padding-top:200px;}
.padding-top-250{padding-top:250px;}
.padding-top-270{padding-top:270px;}
.padding-top-300{padding-top:300px;}

/* MARGIN BOTTOM */
.no-margin{margin: 0}
.margin-bottom-0{margin-bottom:0;}
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-50{margin-bottom:50px;}
.margin-bottom-60{margin-bottom:60px;}
.margin-bottom-70{margin-bottom:70px;}
.margin-bottom-100{margin-bottom:100px;}
.margin-bottom-150{margin-bottom:150px;}
.margin-bottom-120{margin-bottom:150px;}
.margin-bottom-200{margin-bottom:200px;}
.margin-bottom-250{margin-bottom:250px;}
.margin-bottom-270{margin-bottom:270px;}

/* MARGIN TOP */
.margin-top-0{margin-top:0;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-15{margin-top:15px;}
.margin-top-20{margin-top:20px;}
.margin-top-22{margin-top:22px;}
.margin-top-25{margin-top:25px;}
.margin-top-27{margin-top:27px;}
.margin-top-30{margin-top:30px;}
.margin-top-40{margin-top:40px;}
.margin-top-50{margin-top:50px;}
.margin-top-60{margin-top:60px;}
.margin-top-70{margin-top:70px;}
.margin-top-85{margin-top:85px;}
.margin-top-100{margin-top:100px;}
.margin-top-120{margin-top:100px;}
.margin-top-150{margin-top:150px;}
.margin-top-200{margin-top:200px;}
.margin-top-250{margin-top:250px;}
.margin-top-270{margin-top:270px;}

.margin-right-30{margin-right:30px;}

.spacer-10{
  margin: 10px 0;
}
.padding-spacer-19{
  padding: 19px 0;
}

.padding-left-0{padding-left:0;}
.padding-left-20{margin-left: 20px;}

.padding-right-0{padding-right:0;}
.padding-rl-100{padding-left:100px;padding-right:100px;}
.padding-rl-10{padding: 0 10px}

.margin-left-0{margin-left: 0;}
.margin-right-0{margin-right: 0;}

.position-relative{
  position: relative;
}
//lin he
.line-height-0{
  line-height: 0;
}
.line-height-30{
  line-height: 30px;
}

.light {
  font-weight: 400;
}
.display-block{
  display: block;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

//LERT

.custom-alert {
  padding: 2rem 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #cbffcc;
  border-color: #a2ffbc;
  color: #676767;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.custom-alert:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.custom-alert a {
  text-decoration:none;
}

.custom-alert a:hover {
  color:#000;
}

.myalert {
  padding:40px 0px;
}

.alert-dismissible.custom-alert .close {
  position: relative;
  top: -.75rem;
  right: -1.25rem;
  padding: .75rem 1.25rem;
  color: inherit;
}

.green-alert {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
  border-bottom: 2px solid;
}

.red-alert {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  border-bottom: 2px solid;
}

.info-alert {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
  border-bottom: 2px solid;
}

.warning-alert {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
  border-bottom: 2px solid;
}
//aLOAD
.loader,
.loader:before,
.loader:after {
  background: #7F8429;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 2em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  //margin: 40% auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #7F8429;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em #7F8429;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #7F8429;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em #7F8429;
    height: 2em;
  }
}
//HEADER
.header{
  position: absolute;
  top: 0;
  z-index: 3;
  width:100%;
}

.owl-carousel{
  z-index: 0 !important;
}

////3d
/* --------------------------------

Main Components

-------------------------------- */
.cd-header {
  height: 80px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-header.nav-is-visible {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
}
@media only screen and (min-width: 768px) {
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
    transform: translateY(170px);
  }
}

.cd-logo {
  float: left;
  margin-top: 28px;
}

.cd-3d-nav-trigger {
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 10px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-3d-nav-trigger span,
.cd-3d-nav-trigger span::before,
.cd-3d-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  width: 28px;
  height: 6px;
  background-color: #ffae19;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-3d-nav-trigger span {
  /* this is the central line */
  top: 21px;
  left: 8px;
  -webkit-transition: background 0.2s 0.5s;
  -moz-transition: background 0.2s 0.5s;
  transition: background 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
  /* these are the upper and lower lines */
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.2s 0.5s;
  -moz-transition: -moz-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before {
  bottom: 8px;
}
.cd-3d-nav-trigger span::after {
  top: 8px;
}
.nav-is-visible .cd-3d-nav-trigger span {
  /* hide line in the center */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
  /* keep visible other 2 lines */
  background-color: #ffae19;
}
.nav-is-visible .cd-3d-nav-trigger span::before {
  -webkit-transform: translateY(8px) rotate(-45deg);
  -moz-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  -o-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}
.nav-is-visible .cd-3d-nav-trigger span::after {
  -webkit-transform: translateY(-8px) rotate(45deg);
  -moz-transform: translateY(-8px) rotate(45deg);
  -ms-transform: translateY(-8px) rotate(45deg);
  -o-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.cd-3d-nav-container {
  /* this is the 3D navigation container */
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #000000;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
  z-index: 4;
}
.cd-3d-nav-container.nav-is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
  transition: transform 0.5s 0s, visibility 0.5s 0s;
}
@media only screen and (min-width: 768px) {
  .cd-3d-nav-container {
    height: 100px;
  }
}

.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background-color: #343c55;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-3d-nav::after {
  /* menu dark cover layer - to enhance perspective effect */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  transition: opacity 0.5s 0s, visibility 0.5s 0s;
}
.cd-3d-nav li {
  height: 100%;
  width: 20%;
  float: left;
}
.cd-3d-nav li:first-of-type a::before {
  background-image: url("../images/icons/include/assistances.png");
  background-size: 100%;
}
.cd-3d-nav li:nth-of-type(2) a::before {
  background-image: url("../images/icons/include/flight.png");
  background-size: 100%;
}
.cd-3d-nav li:nth-of-type(3) a::before {
  background-image: url("../images/icons/include/tours.png");
  background-size: 100%;
}
.cd-3d-nav li:nth-of-type(4) a::before {
  background-image: url("../images/icons/include/transfers.png");
  background-size: 100%;
}
.cd-3d-nav li:nth-of-type(5) a::before {
  background-image: url("../images/icons/include/entrances.png");
  background-size: 100%;
}
.cd-3d-nav a {
  position: relative;
  display: block;
  height: 100%;
  color: transparent;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-3d-nav a::before {
  /* navigation icons */
  content: '';
  height: 70px;
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  //background-size: 32px 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.no-touch .cd-3d-nav a:hover {
  background-color: #2b3145;
}
.cd-3d-nav .cd-selected a {
  background-color: #212635;
}
.no-touch .cd-3d-nav .cd-selected a:hover {
  background-color: #212635;
}
.cd-3d-nav .cd-selected a::before {
  //background-position: 0 -32px;
}
.nav-is-visible .cd-3d-nav {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.nav-is-visible .cd-3d-nav::after {
  /* menu cover layer - hide it when navigation is visible */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  transition: opacity 0.5s 0s, visibility 0s 0.5s;
}
@media only screen and (min-width: 768px) {
  .cd-3d-nav a {
    padding: 5.6em 1em 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* truncate text with ellipsis if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cd-3d-nav a::before {
    top: 0.4em;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
}
.cd-marker::before {
  /* triangle at the bottom of nav selected item */
  content: '';
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: inherit;
}
.nav-is-visible .cd-marker {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* these are the colors of the markers - line + arrow */
.color-1 {
  color: #9a57bd;
  background-color: #9a57bd;
}

.color-2 {
  color: #c96aa4;
  background-color: #c96aa4;
}

.color-3 {
  color: #d6915e;
  background-color: #d6915e;
}

.color-4 {
  color: #5397c7;
  background-color: #5397c7;
}

.color-5 {
  color: #77cd91;
  background-color: #77cd91;
}









/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/* --------------------------------

Navigation

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  right: 10px;
  width: 45px;
  height: 50px;
  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  //background-color: #030d18;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 23px 0 0 5%;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
  }
}

.cd-primary-nav {
  /* mobile first - navigation hidden by default, triggered by tap/click on navigation icon */
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../images/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #000101;
  border-top: 1px solid #051426;
  color: #f0eee1;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #030d18;
  }
}

/* --------------------------------

Intro

-------------------------------- */
#cd-intro {
  position: relative;
  height: 100%;
  background: url('../images/slider/mapi-6.jpg') no-repeat center center;
  background-size: cover;
  z-index: 2;
}
#cd-intro #cd-intro-tagline {
  width: 90%;
  //max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  //padding-top: 120px;
}
#cd-intro h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #030d18;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  #cd-intro {
    height: 100%;
  }
  #cd-intro #cd-intro-tagline {
    //padding-top: 160px;
  }
  #cd-intro h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-intro {
    height: 100%;
  }
  #cd-intro #cd-intro-tagline {
    //padding-top: 250px;
  }
}

.box-header-action{
  background: none;
}

.cd-btn, .cd-btn-header {
  display: inline-block;
  padding: 10px 1.8em;
  background-color: rgba(255, 165, 0, 0.9);
  //margin-top: 1em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.cd-btn-header{
  background:  rgba(127, 132, 41, 0.9);
}
.cd-btn-header:hover{
  background: rgba(152, 157, 43, 0.9);
  color: #ffffff;
  text-decoration: none;
}
.cd-btn:hover {
  background-color: rgba(255, 160, 0, 0.76);
  color: #ffffff;
  text-decoration: none;
}
@media only screen and (min-width: 1170px) {
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: 5px 20px;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}

.banner-header{
  background: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  top: 25%;
  //margin: 7% 0;
  width: 20%;
  //height: 73%;
  border-radius: 0 5px 5px 0;
  padding: 20px;
  z-index: 1;
}

.list-services li{
  text-align: center;
  list-style: none;
  display: inline-block;
  width: 10%;
}
.banner-header-bottom{
  line-height: 19px;
}
/* --------------------------------

Secondary Fixed Navigation

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-secondary-nav.cd-secondary-nav-tinerary{
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: -1px;
  background: rgba(0,0,0,.4);
}
.cd-secondary-nav.cd-secondary-nav-packages{
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: -1px;
  background: rgba(255,255,255,.7);
}
.cd-secondary-nav.cd-secondary-nav-packages li a b{
  color: rgba(0, 0, 0, 0.9);
}

.cd-secondary-nav.cd-secondary-nav-packages li a:hover b, .cd-secondary-nav.cd-secondary-nav-packages li a.active b{
  color: #333333;
}
.cd-secondary-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(3, 13, 24, 0.96);
  visibility: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
.cd-secondary-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
.cd-secondary-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #092645;
  color: #f0eee1;
}
.cd-secondary-nav li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav {
    z-index: 1;
    //height: 100px;
    background-color: rgba(51, 51, 51, 0.96);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .cd-secondary-nav nav, .cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
    height: 100%;
  }
  .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    //padding: 58px 40px 0 40px;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 18run npmpx;
    //font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(240, 238, 225, 0.9);
  }
  .cd-secondary-nav li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-image: url('../images/cd-nav-icons.svg');
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-secondary-nav li a:hover b, .cd-secondary-nav li a.active b {
    color: #f0eee1;
  }
  .cd-secondary-nav li:nth-child(1) a span {
    background-position: 0 0;
  }
  .cd-secondary-nav li:nth-child(2) a span {
    background-position: -40px 0;
  }
  .cd-secondary-nav li:nth-child(3) a span {
    background-position: -80px 0;
  }
  .cd-secondary-nav li:nth-child(4) a span {
    background-position: -120px 0;
  }
  .cd-secondary-nav li:nth-child(5) a span {
    background-position: -160px 0;
  }
  .cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: rgba(3, 13, 24, 0.96);
  }

  .cd-secondary-nav.cd-secondary-nav-packages.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.96);
  }

  .cd-secondary-nav.animate-children li a {
    //padding: 26px 30px 0 30px;
  }
  .cd-secondary-nav.animate-children li a span {
    opacity: 0;
  }
}

.cd-secondary-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: rgba(3, 13, 24, 0.96);
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-secondary-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f0eee1;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-secondary-nav-trigger span::before, .cd-secondary-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cd-secondary-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger.menu-is-open {
  background: transparent;
}
.cd-secondary-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.cd-secondary-nav-trigger.menu-is-open span::before, .cd-secondary-nav-trigger.menu-is-open span::after {
  background: #f0eee1;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.cd-secondary-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-secondary-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
}

/* --------------------------------

Placeholder Sections

-------------------------------- */
.cd-section {
  margin: 0 auto;
  padding: 2em 0;
}
.cd-section h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .6em;
  font-weight: 700;
}
.cd-section p {
  line-height: 1.6;
}
@media only screen and (min-width: 1170px) {
  .cd-section {
    margin: 0 auto;
    padding: 4em 0;
  }
  .cd-section h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-section p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}


//TAB
.btn-group-customize .btn-group button{
  font-size: 20px;
  font-weight: bold;
}

//switch
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
  opacity: 0;
}

.badgebox + .badge
{
  /* Move the check mark away when unchecked */
  text-indent: -999999px;
  /* Makes the badge's width stay the same checked and unchecked */
  width: 27px;
}

.badgebox:focus + .badge
{
  /* Set something to make the badge looks focused */
  /* This really depends on the application, in my case it was: */

  /* Adding a light border */
  box-shadow: inset 0px 0px 5px;
  /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
  /* Move the check mark back when checked */
  text-indent: 0;
}

//offers
.shape{
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
.offer{
  background:#fff;
  //border:1px solid #ddd;
  //box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 15px 0; overflow:hidden;
}


//tabs

/*Fun begins*/
.tab_container {
  //width: 90%;
  //margin: 0 auto;
  //padding-top: 70px;
  //position: relative;
}

.tab_container input, .tab_container section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab_container label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 25%;
  padding: 20px 5px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #ec9b06;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

.tab_container label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  .tab_container label span {
    font-size: 14px;
  }
  .tab_container label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .tab_container label span {
    display: none;
  }

  .tab_container label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// check filter desnination
.filter-destinations ul {
  list-style-type: none;
  width: 100%;
}

.filter-destinations li {
  display: inline-block;
  width: 20%;
}

.filter-destinations input[type="checkbox"][id^="cb"] {
  display: none;
}

.filter-destinations label {
  border: 1px solid #fff;
  padding: 0;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  width: 100%;
}

.filter-destinations label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #ec9b06;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.filter-destinations label img {
  //height: 100px;
  //width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.filter-destinations :checked + label {
  border-color: #ddd;
}

.filter-destinations :checked + label:before {
  content: "✓";
  background-color: #ec9b06;
  transform: scale(1);
  z-index: 1;
}

.filter-destinations :checked + label img {
  //transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

//destinations peru hover

.container-category{
  background: #f0f0f0;
}

.grid-category .grid-box{
  position: absolute;
  bottom: 20%;
  display: block;
  width: 100%;
  background: rgba(255,255,255, .3);
}


.line{
  background: #000;
  height: 1px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
.grid-category{
  transition:all 0.5s ease-in-out;
}
.grid-category:hover .grid-box{
  transition:all 0.5s ease-in-out;
  background: rgba(2,2,2, .8);
}
.grid-category:hover i{
  transition:all 0.3s ease-in-out;
  color: #7F8429;
}
.grid-category:hover b{
  transition:all 0.3s ease-in-out;
  color: #ffa500;
}

/* Common style */
.grid-destinations figure, .grid-category figure{
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  background: #000000;
  text-align: center;
  cursor: pointer;
}

.grid-destinations figure img, .grid-category figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.9;
}

.grid-destinations figure figcaption, .grid-category figure figcaption {
  //padding: 2em;
  color: #fff;
  text-transform: uppercase;
  //font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid-destinations figure figcaption::before,
.grid-destinations figure figcaption::after,
.grid-category figure figcaption::before,
.grid-category figure figcaption::after{
  pointer-events: none;
}

.grid-destinations figure figcaption,
.grid-destinations figure figcaption > a,
.grid-category figure figcaption,
.grid-category figure figcaption > a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.grid-destinations figure figcaption > a, .grid-category figure figcaption > a {
  opacity: 0;
}

.grid-destinations figure h2, .grid-category figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid-destinations figure h2 span, .grid-category figure h2 span {
  font-weight: 800;
}

.grid-destinations figure h2,
.grid-destinations figure p,
.grid-category figure h2,
.grid-category figure p{
  margin: 0;
}

.grid-destinations figure p, .grid-category figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* effects */

figure.effect-destinations figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.5) 75%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,50%,0);
  transform: translate3d(0,50%,0);
}

figure.effect-destinations h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size:17px;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-destinations figcaption::before,
figure.effect-destinations p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-destinations p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-destinations:hover h2 {
  color: #fff;
  font-size: 18px;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-destinations:hover figcaption::before ,
figure.effect-destinations:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
//

figure.effect-category {
  background: #000000;
}

figure.effect-category img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-category:hover img {
  opacity: 0.8;
}

figure.effect-category figcaption::before,
figure.effect-category figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-category figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.effect-category figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.effect-category h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

figure.effect-category p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-category:hover figcaption::before,
figure.effect-category:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-category:hover h2,
figure.effect-category:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

//video
.content-video-1{position:relative;}
.content-video-btn-1{
  background:rgba(255,255,255,0.7);
  border-radius: 50%;
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  text-align:center;
}
.content-video-btn-1 i{line-height:1.6;}
.content-video-btn-1 a{border-radius:50%;font-size:50px;line-height:1.6;}

.content-vbtn-color-red{color:#dd0000;}
.content-vbtn-color-red:hover{color:#dd0000;}

.content-vbtn-color-blue{color:#00b4e9;}
.content-vbtn-color-blue:hover{color:#00b4e9;}

.content-vbtn-color-orange{color:#f27242;}
.content-vbtn-color-orange:hover{color:#f27242;}

.img-responsive{
  width: 100%;
}
//banner medio
.banner-middle{
  height: 250px;
}
.background {
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 50%;
  /* ie8- graceful degradation */
  background-position:50% 50%\9 !important;
}

.fullscreen,
.content-a {
  width:100%;
  height:100%;
  overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
  height:auto;
  min-height:100%;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
  background: rgba(42, 178, 123, 0.9);
}

//Testimonial
.container-testimonial{
  background: url("./banners/banner-testimonials.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

//contact

.form-design label.btn-default.active{
  background-color:#007ba7;
  color:#FFF
}
.form-design label.btn-default{
  width:100%;
  border:1px solid #efefef;
}
.form-design label .design-content{
  width:100%;
}
.form-design .btn-group{
  width:100%
}
.form-design .btn span.glyphicon{
  display: none;
}
.form-design .btn.active span.glyphicon {
  display: block;
  position: absolute;
  width: 100%;
  text-align: right;
  top: -3px;
}

.design-content{
  position: relative;
}
.content-icon{
  margin: 0.5% 0.5% 0.5% 0;
  height: 65px;
  padding-top: 30%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f0f0f0;
  text-align: center;
}
.design-content span{
  display: block;
}

.form-design input[type="text"], .form-design input[type="email"], .form-design textarea {
  background: #fff;
  padding: 20px 0 20px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}



//---itinerary


/* --------------------------------

download button

-------------------------------- */
.cd-nugget-info a {
  position: relative;
  display: inline-block;
  padding: 1.2em 1.6em;
  border-radius: 50em;
  background: #2a76e8;
  font-size: 14px;
  color: #ffffff;
  margin-top: 1em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0 0 20px rgba(42, 118, 232, 0.4);
}
.no-touch .cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #ffffff;
}
@media only screen and (min-width: 1100px) {
  .cd-nugget-info a {
    margin-top: 1.4em;
  }
}

/* --------------------------------

Articles

-------------------------------- */
.cd-articles {
  position: relative;

}
.cd-articles::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-articles article {
  padding-bottom: 35px;
  border-bottom: 1px solid #e6e6e6;
}
.cd-articles article:last-of-type {
  border-bottom: none;
}
//.cd-articles h1 {
//  margin: .6em 0 .2em;
//  color: #141414;
//  line-height: 1.2;
//  font-size: 2.4rem;
//}
.cd-articles p {
  padding: 1em 0;
  line-height: 1.6;
}
.cd-articles p:last-of-type {
  padding-bottom: 0;
}
@media only screen and (min-width: 1100px) {

  .cd-articles::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }

  .cd-articles p {
    font-size: 16px;
  }
}

/* --------------------------------

Aside

-------------------------------- */
.aside-itinerary {

  background-color: #f2f2f2;
}
.aside-itinerary ul{
  padding: 0;
}
.aside-itinerary li {
  counter-increment: articles;
}
.aside-itinerary a {
  display: block;
  position: relative;
  padding: 1.2em 1.1em 1.2em 4.3em;
}
.aside-itinerary a::before, .aside-itinerary a::after {
  position: absolute;
}
.aside-itinerary a::before {
  /* article number */
  content: counter(articles);
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  color: #b3b3b3;
  text-align: center;
  box-shadow: inset 0 0 0 1px #d9d9d9;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.aside-itinerary a::after {
  /* bottom separation - line */
  content: '';
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 260px;
  background-color: #d9d9d9;
}
.aside-itinerary a.read em {
  color: #a6a6a6;
}
.aside-itinerary a.read::before {
  background-color: #d9d9d9;
}
.aside-itinerary a.reading em {
  color: #2a76e8;
}
.aside-itinerary a.reading svg {
  display: block;
}
.aside-itinerary a.reading::before {
  background-color: #ffffff;
  color: #141414;
}
.aside-itinerary li:last-of-type a::after {
  display: none;
}
.aside-itinerary em {
  display: block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #141414;
  /* truncate text with ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.aside-itinerary b {
  color: #a6a6a6;
  font-size: 1.2rem;
  font-family: Georgia, serif;
  font-style: italic;
}
.aside-itinerary svg {
  /* this is the filling circle around the article number */
  display: none;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.1em;
  stroke: #2a76e8;
}
@media only screen and (min-width: 1100px) {
  .aside-itinerary {
    display: block;
    //position: absolute;
    //top: 3em;
    //right: 0;
  }
  .aside-itinerary.fixed {
    position: fixed;
    //right: calc(50% - 485px);
    top: 15%;
  }
}

//itinerary
.carousel-control.right, .carousel-control.left{
  background: none;
}
.banner{
  display:block;
}
.banner img {
  width: 100%;
  height: auto;
  position: relative;
}
.banner .box-header {
  float:left;
  position:absolute;
  top:0px;
  z-index: 1;
  width: 100%;
}
.box-route-ininerary{
  font-size: 0.9em;
  color: #666;
  line-height: 2em;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin: 10px 0 30px 0;
  border: 1px solid #dedede;
  padding: 0;
}
.box-route-ininerary-right{
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  border-left: 1px solid #dedede;
  padding: 15px 0 15px 60px;
}
.box-route-ininerary h3{
  position: absolute;
  top: 50%;
  margin-top: -14px !important;
  padding: 0 0 0 10px;
  margin-bottom: 0;
}
.box-price-aside{
  padding: 25px 15px;
  margin: 10px auto 0 auto;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}
.box-price-aside sup{
  padding-left: 5px;
  font-weight: normal;
  font-size: 0.563em;
  top: -3.5em;
}
.nav-list {
  margin-bottom: 30px;
  background-color: #f8f8f8;
  padding: 20px;
}

//gallery
.project figure {
  position: relative;
  display: inline-block;
  -moz-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  -webkit-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  -webkit-box-shadow: 0 3px 0 #e2e2e2;
  -moz-box-shadow: 0 3px 0 #e2e2e2;
  box-shadow: 0 3px 0 #e2e2e2;
}

.project figure figcaption {
  position: relative;
  z-index: 10;
  padding: 8px 18px 11px;
  background: #fff;
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: left;
  color: #555;
}

.project figure:hover .actions {
  opacity: 1;
}

.project figure .actions {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(29,29,29,.7);
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.project figure img {
  border: 0;
  width: 100%;
}
.btn-warning bnt-action{
  margin: 0% 0% auto;
}

.project figure .actions a {
  font-size: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
}
.project figure .actions a i {
  margin-top: 27%;
}




.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 30px;
  color: #ffa500;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

//packages
.pacakges-footer{
  border-bottom: 2px solid #e6e6e6;
}
.pacakges-box{
  height: 450px;
}
//.pacakges-box:hover .list-services img{
//  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//  filter: grayscale(100%);
//}
.color-title-packages{
  margin-top: 17%;
  color: rgba(255,255,255,.7);
}

//destinations
.nav-destinations a{
  padding: 0 !important;
  transition: 0.25s;
}
.nav-destinations a:hover{
  transition: 0.25s;
  color: #ffa500;
  background-color: transparent !important;
}
.nav-destinations .active{
  color: #ffa500;
}
